@using SolucionPeakHours.Shared.CompletedHours

<RadzenTemplateForm Data="WorkHourModel"
                    TItem="WorkHourDTO"
                    Submit="OnValidSubmit">
    <div class="row mb-2">
        <div class="col">
            <RadzenStack Orientation="Orientation.Vertical"
                         AlignItems="AlignItems.Center"
                         class="mt-2">

                <RadzenFormField Text="Identificador" Style="width:100%">
                    <RadzenNumeric @bind-Value="FactoryStaffId"
                                   Disabled="factoryStaffIdFieldDisable"
                                   TValue="int?"
                                   ShowUpDown="false"
                                   @onkeyup="SearchFactoryStaffWithKeyUp" />
                </RadzenFormField>

                <RadzenFormField Text="Seleccione una solicitud" Style="width:100%">
                    <RadzenDropDown @bind-Value="WorkHourModel.ProgHourEntityId"
                                    Data="@ProgHours"
                                    TextProperty="ProgHourShow" 
                                    ValueProperty="Id" 
                                    FilterOperator="StringFilterOperator.StartsWith" 
                                    AllowFiltering="true" 
                                    Change="SetValueOnDropDownChange"/>
                </RadzenFormField>

                <RadzenFormField Text="Nombre empleado" Style="width:100%">
                    <RadzenTextBox @bind-Value="FactoryStaffModel.FullName"
                                              Disabled />
                </RadzenFormField>

                <RadzenFormField Text="Gestor" Style="width:100%">
                    <RadzenTextBox @bind-Value="FactoryStaffModel.Manager"
                                              Disabled />
                </RadzenFormField>

                <RadzenFormField Text="Posicion" Style="width:100%">
                    <RadzenTextBox @bind-Value="FactoryStaffModel.Position" Disabled />
                </RadzenFormField>

                <RadzenButton Text="@btnText"
                              ButtonType="ButtonType.Submit"
                              Style="width:100%; background: #003053" />
            </RadzenStack>
        </div>

        <div class="col">
            <RadzenStack Orientation="Orientation.Vertical"
                         AlignItems="AlignItems.Center"
                         class="mt-2">

                <RadzenFormField Text="Cantidad hora" Style="width:100%">
                    <RadzenNumeric Name="HoursWorked" @bind-Value="WorkHourModel.HoursWorked" />

                    <RadzenRequiredValidator Text="Campo requerido" Component="HoursWorked" Popup="true" />
                </RadzenFormField>

                 <RadzenFormField Style="width:100%; margin-bottom:10px" Text="Seleccione el tipo de hora">
                     <RadzenDropDown Data="HourType"
                                     TextProperty="Text"
                                     ValueProperty="Text"
                                                AllowFiltering
                                     @bind-Value="WorkHourModel.HourType" />
                     </RadzenFormField>

                <RadzenFormField Text="Fecha de programación" Style="width:100%">
                    <RadzenDatePicker @bind-Value="WorkHourModel.FechaOld" 
                                      Disabled="true"
                                      Name="FechaOld" />
                </RadzenFormField>

                <RadzenFormField Text="Motivo" Style="width:100%">
                    <RadzenTextArea @bind-Value="WorkHourModel.ReasonsRelize" Name="ReasonsRelize" />

                    <RadzenRequiredValidator Text="Campo requerido" Component="ReasonsRelize" Popup="true" />
                </RadzenFormField>
            </RadzenStack>
        </div>
    </div>
</RadzenTemplateForm>